################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/src/.vs
/src/.idea
./src/obj
/src/Services/.idea
/src/Services/Catalog.API/.vs
/src/Services/Catalog.API/bin
/src/Services/Catalog.API/obj
